@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


#main {
    text-align: center;
    padding-top: 2%;
}

.nav nav-pills nav-fill{
    width: 100%;
    text-align: center;
}
.body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.attributes {
    display: inline;
    width: 100%;
}

h1 {
    color: rgb(42, 83, 218);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: rgb(61, 92, 192);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ul {
   
}

.skills {
    float: left;
}

.systems {
    float: right;
}
